* {
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}

body {
    font-size: 16px;
    background-color: tan;
    color: black;
    font-family: 'Times New Roman', Times, serif;
}


.first {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px 20px 0; 
    background-color: slategray;
    position: relative;
    margin: auto;
}

.first .name {
    text-align: center;
    float: left;
    padding: 15px 15px 15px 85px; 
    margin: 0 0 10px 0;
    background-color:rgb(19, 131, 134);
    font-size: 24px;
    border: 2px groove black
}

nav ul li {
    list-style-type: none;
    display: inline;
    margin: 12px; 
}

nav ul li a {
    padding: 15px;
    background-color: darkgoldenrod;
    color: black;
    font-size: 20px;
    margin: 2px;
    border: 2px solid brown;
    box-shadow: 1px 1px 1px 1px rgb(19, 131, 134);

}

.picture {
    height: 150px;
    width: 100%;
    background-image: url("../images/stock6.jpg"); 
    background-size: contain;
    background-position: center;
    position: relative;

}

.picture .subtitle {
    position: absolute;
    text-align: right;
    float: right;
    margin-top: -100px;
    padding: 20px;
    background-color: slategray;
}

#aboutme {
display: flex;
flex-direction: row;
flex-wrap: wrap;
}

#aboutme .leftheader {
    clear: both; 
    font-size: 48px;
    float: left;
    border-right: solid black;
    margin-left: 25px;
    padding-left: 15px;
    margin-bottom: 50px;
}


#aboutme .personalcontent {
    float: left;
    margin-left: 25px;
}


#work {
 display: inline-flex;
 flex-direction: wrap;
 justify-content: flex-start;
}

#work .title {
    clear: both;  
    font-size: 48px;
    border-right: solid black;
    margin-left: 25px;
    padding-left: 15px;
}

#work .parent h2 {
 font-size: 24px;
 background-color: cadetblue;
 color: black;
 border: 2px solid black;
 margin-top: 36%;
 flex-wrap: wrap;
 
}

#work a h2 {
    position: absolute;

}

#contactme {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    }
    
    #contactme .contacttitle {
        clear: both; 
        font-size: 48px;
        float: left;
        border-right: solid black;
        margin-left: 25px;
        padding-left: 15px;
        margin-bottom: 50px;
    }


.div1 .div2 .div3 .div4 .div5 {
    position: relative;
}

.parent {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
    .div1 { grid-area: 1 / 2 / 2 / 6; }
    .div2 { grid-area: 2 / 2 / 3 / 4; }
    .div3 { grid-area: 2 / 4 / 3 / 6; }
    .div4 { grid-area: 3 / 2 / 4 / 4; }
    .div5 { grid-area: 3 / 4 / 4 / 6; }