* {
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}

body {
    font-size: 16px;
    background-color: tan;
    color: black;
    font-family: 'Times New Roman', Times, serif;
}


.first {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px 20px 0; 
    background-color: slategray;
    position: relative;
    margin: auto;
}

.first .name {
    text-align: center;
    float: left;
    padding: 15px 15px 15px 85px; 
    margin: 0 0 10px 0;
    background-color:rgb(19, 131, 134);
    font-size: 24px;
    border: 2px groove black
}

nav ul li {
    list-style-type: none;
    display: inline;
    margin: 12px; 
}

nav ul li a {
    padding: 15px;
    background-color: darkgoldenrod;
    color: black;
    font-size: 20px;
    margin: 2px;
    border: 2px solid brown;
    box-shadow: 1px 1px 1px 1px rgb(19, 131, 134);

}

.picture {
    height: 150px;
    width: 100%;
    background-image: url("../images/stock6.jpg"); 
    background-size: contain;
    background-position: center;
    position: relative;
}

.picture .subtitle {
    float: right;
    text-align:center;
    margin: -50px;
    padding: 10px;
    background-color: slategray;
}

#aboutme {
    width: 100%;
    height: 100%;
}

#aboutme .leftheader {
    clear: both; 
    display: flex;
    font-size: 48px;
    float: left;
    border-right: solid black;
    margin-left: 25px;
    padding-left: 15px;
    margin-bottom: 50px;
}


#aboutme .personalcontent {
    float: left;
    margin-left: 25px;
}


#work {
    width: 100%;
    height: 100%;
}

#work .title {
    clear: both; 
    display: flex; 
    font-size: 48px;
    border-right: solid black;
    margin-left: 25px;
    padding-left: 15px;
    border-right: solid black;
}

#work .parent {
    float: left;
    margin-left: 25px;
}

.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
    .div1 { grid-area: 2 / 2 / 2 / 6; }
    .div2 { grid-area: 3 / 2 / 4 / 5; }
    .div3 { grid-area: 3 / 4 / 4 / 6; }
    .div4 { grid-area: 4 / 2 / 5 / 4; }
    .div5 { grid-area: 4 / 4 / 5 / 6; }

.div1 .div2 .div3 .div4 .div5 {
    position: relative;
}

